body {
    background-image: url("../images/dynamic-style.png");
    background-color: #e4b7b7;
    background-attachment: scroll;
    text-align: center;
}

#red-carpet {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#landing-page {
    text-align: center;
    background: rgba(172, 167, 167, 0.25);
    min-height: 100%;
    padding: 5%;
    color: #ffffffce;
}

#questions {
    width: 80%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block; 
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#question-top {
    position: relative;
    top: -75px;
}
#progress-bar {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#large-logo {
    padding-top: 20px;
}

#end-screen {
    display: none;
}

